{% extends 'base.html' %}
{% block title%}Страница авторизации{% endblock %}
{% block body %}
      <div class="main">
            <h1>Добро пожаловать</h1>
            <h3>Введите логин и пароль</h3>
            <form method="POST">
                  <label for="text"> Username: </label>
                  <input type="text"  id="text" name="username" placeholder="Enter your Username" required>
                  <label for="password"> Password:</label>
                  <input type="password"id="password"  name="password" class = "form-control" placeholder="Enter your Password" required>
                  <div class="wrap">
                        <button type="submit"
                                onclick="solve()">
                              Войти
                        </button>
                  </div>
            </form>
            <a style= "color: red;">{{ massage  }}</a>
      </div>
{% endblock %}