<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="../static/style.css">
   <title>Hello Page</title>
  </head>
  <body>
    <div class="main">
      {% if name != 'нет' %}
    <h1>Личный кабинет</h1>
        <p><strong>Имя:</strong> {{ name.name }} <br>
          <strong>Номер:</strong> {{name.phonenum}} <br>
          <strong>Контакты:</strong>
          <ol>
          {% for cont in name.contact %}
                <li> {{ cont }}  </li>
          {% endfor %}
          </ol>
        </p>
    {% else %}
    <p>Вы не авторизованы</p>
    {% endif %}
  </div>
  </body>
</html>