{% extends 'base.html' %}
{% block title%}Страница авторизации{% endblock %}
{% block body %}
    <div class="main">
      {% if 1 %}
      <h1>Личный кабинет</h1>
          <strong>Имя:</strong> {{ name }}
          <strong>Номер:</strong> {{phonenumber}}<br>
          <strong>Контакты:</strong>
          <table border = "3">
          {% for cont in contact %}
               <tr>
                <form action="/change_contact/{{cont.ID}}" method="post">
                <td>Имя: {{ cont.Name }}<input name="changename" placeholder="Изменить имя"></td>
                <td>Номер телефона:{{ cont.Phonenum }}<input name="changephone" placeholder="Изменить номер"></td>
                <td>Комментарий:{{ cont.Coment }}<input name="changecoment" placeholder="Изменить комментарий"></td>
                <td>
                  <button>Изменить</button>
                </form>
              </form>
                <td><form action="/delete_contact/{{ cont.ID }}" method="post">
                  <button >Удалить</button>
                 </form>
               </tr>
          {% endfor %}
        </table>
        <form  method="post">
          <label for="phonenum">Номер телефона</label>
          <input type="text" id="addphonenum" name="addphonenum" placeholder="Enter phone number">
          <label for="first">Имя </label>
          <input type="text" id="addname" name="addusername" placeholder="Enter Name" >
          <label for="addcomment">Комментарий</label>
          <input type="text" id="addcomment" name="addcomment" placeholder="Enter comment"  >
          <div class="wraper" >
                <button  type="submit">Добавить контакт</button >
          </div>
    </form>
    <form action="/exit/" >
      <button>Выход</button>
     </form>
    {% else %}
    <p>Вы не авторизованы</p>
    {% endif %}
  </div>
{% endblock %}